@charset "UTF-8";
/*Обнуляю налаштування css */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*---------------------------------*/
/* Збираю root по новій */
:root{
  --main-ff: "Roboto", san-serif;
  --logo-ff: "Raleway", san-serif;

  --main-color: #212121;
  --context-color: #757575;

  --dark-acsent: #000000;
  --white-acsent: #FFFFFF;
  --white-border:  #EEEEEE;
  --white-сontext: rgba(255, 255, 255, 0.6);
  --white-background: #F5F4FA;
  --dark-background: #2F303A;
  --shadow-color:rgba(0, 0, 0, 0.15);

  --chromatic-usual: #2196F3;
  --chromatic-hover: #188CE8;
  
  
  
}
/* :root{
 1.14 111
 1.17 1
  1.19  1
  1.36  1
  1.63
  1.71  1
  1.88  1
  2

  0.03em
  0.06 em
} */ 


/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.link {
  text-decoration: none;
  font-family: inherit;
}
.list{
  /* прибрали кнопку */
  /* list-style: none; 
}
.button{
  border: none;
  background-color: transparent;
  color: inherit;

  cursor: pointer;
}
.section{
  font-weight: 600;
  font-size: 48px;
  color: var(--main-dark);

  line-height: 1.67;
} 
CSSGrid-Generator.netlify.app*/