body{
  /* width: 100%;
  align-items: center; */
}
.wrapper{
  /* max-width: 1600px;
  align-items: center; */
}
.container {
  /* margin-top: 80px; */
  /* display: flex; */
  max-width: 1200px;
  
}
.galery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  flex: 0 1 33.33%;
  justify-content: space-between;
  /* border: 10px solid #ece89d; */
  
  
}
.galery > li {
  /* border: 5px solid #5e5373; */
  /* flex: 0 1 33.33%; */
}
.card{
  /* padding: 10px; */

  border: 1px solid var(--button-color);
  /* margin-right: 30px; */
  margin-bottom: 30px;
}
/* .card:nth-child(3n+3){
  margin-right: 0px;
  
} */
.card__subscribe{
  margin: 0 24px;
  padding: 20px 0;

}
.card__subscribe > h3{
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card__subscribe > p{
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filters {
  display: flex;
  /* margin-top: 81px; */
  margin: 81px auto 0 auto;
  /* margin-top: 81px; */
  /* justify-content: space-between; */
  /* display: block; */
  /* text-align: center;*/
  align-items: center;
    /* justify-content: center;  */
  /* width: 1600px;
  height: 600px; */

  /* position: fixed; */
  /* border: 1px solid red; */
}
.filters > ul{
  display: flex;
}
.filter__button  {
  background-color:  var(--button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--text-akcent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  padding: 6px 22px;
  border-radius: 4px;
  transition-duration: 0.2s;
}
.filter__button:hover,
.filter__button:active {
  background-color:  var(--text-blu-color); 
  color: var(--text-invert-akcent-color);
}
.galery {
  display: flex;
  max-width: 1200px ;
}
